repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types: [python]
        args: ["--fix", "--exit-non-zero-on-fix"]

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]